@model WebApp.Dtos.Models.PatientDto

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="Uploads/@Model.Picture" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">@Model.FirstName @Model.Preposition @Model.LastName</h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Patient Nummer : @Model.PatientNumber</li>
        <li class="list-group-item">Email : @Model.Email</li>
        <li class="list-group-item">Telefoon Nummer : @Model.PhoneNumber</li>
    </ul>
    <div class="card-body">
        <a href="Patient/Edit/@Model.id" class="btn btn-primary">Edit</a>
        <a  class="btn btn-primary">Details</a>
    </div>
</div>