@using ApplicationServices.ExtensionMethods
@using Core.Domain.Models
@using Core.DomainServices.Interfaces
@model WebApp.Dtos.Appointment.AppointmentViewDto
@inject IService<Appointment> _appointmentService;
<tr>
    <td>@Model.TreatmentDate</td>
    <td>@Model.TreatmentEndDate</td>
    <td>@Model.Room</td>
    @if (User.IsInRole("Staff"))
    {
        <td>@Model.Patient.GetFormattedName()</td>
    }
    else
    {
        <td>@Model.Practicioner.GetFormattedName()</td>
    }
    <td>
        @if (Model.TreatmentDate.Ticks > DateTime.Now.AddHours(24).Ticks)
        {
            <a class="btn btn-primary" href="/Appointment/edit/@Model.Id">Edit</a>
        }
        @if (User.IsInRole("Staff"))
        {
            @if (_appointmentService.Get(Model.Id).Result is Appointment)
            {
                <a class="btn btn-primary" href="/Treatment/Create/Appointment/@Model.Id">Maak behandeling</a>
            }
            <a class="btn btn-primary" href="/Dossier/Detail/@Model.DossierId">Naar dossier</a>
        }
    </td>
</tr>